pkgbase = mollysocket
	pkgdesc = Allows getting signal notifications via UnifiedPush
	pkgver = 1.2.0
	pkgrel = 1
	url = https://github.com/mollyim/mollysocket
	install = mollysocket.install
	arch = any
	license = AGPL
	checkdepends = rust
	makedepends = rust
	provides = mollysocket
	conflicts = mollysocket-git
	conflicts = mollysocket-bin
	backup = etc/mollysocket/config.toml
	source = mollysocket-1.2.0::https://github.com/mollyim/mollysocket/archive/refs/tags/1.2.0.tar.gz
	source = mollysocket.service
	source = mollysocket.tmpfile.d
	source = sysuser.conf
	source = mollysocket.install
	source = config.toml
	sha256sums = SKIP
	sha256sums = df73cb642db33bc6032d593d49f0090459f1d637fd7c54b0c44a2304d961d6d1
	sha256sums = f8d1505b7e5e8516b46379ebbee7b73bc2166eb76d9f895f9f96c0e1bf880c81
	sha256sums = f83103af9f921da7cd84d0c10985e5eaec052e9def47cfda8d9503b627254d70
	sha256sums = d825c8cd0a44a515e57d7b6fea400970319674b743705d105a6e8c071cc234e3
	sha256sums = 2393bb45cf39288a0c05552ec4c16ffa2935b2dab833c3868c1ec1b118da2869

pkgname = mollysocket
