pkgbase = mollysocket-bin
	pkgdesc = Allows getting signal notifications via UnifiedPush
	pkgver = 1.2.0
	pkgrel = 1
	url = https://github.com/mollyim/mollysocket
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = AGPL
	provides = mollysocket
	conflicts = mollysocket
	conflicts = mollysocket-git
	source = mollysocket.service
	source = mollysocket.tmpfile.d
	source = sysuser.conf
	source = mollysocket.install
	source = config.toml
	sha256sums = df73cb642db33bc6032d593d49f0090459f1d637fd7c54b0c44a2304d961d6d1
	sha256sums = f8d1505b7e5e8516b46379ebbee7b73bc2166eb76d9f895f9f96c0e1bf880c81
	sha256sums = f83103af9f921da7cd84d0c10985e5eaec052e9def47cfda8d9503b627254d70
	sha256sums = 37164cc172894617e648840b7b594dd2106ec16398bb61d7d954f9c1cc01a36a
	sha256sums = 2393bb45cf39288a0c05552ec4c16ffa2935b2dab833c3868c1ec1b118da2869
	source_x86_64 = mollysocket-1.2.0::https://github.com/mollyim/mollysocket/releases/download/1.2.0/mollysocket-amd64-1.2.0
	sha256sums_x86_64 = SKIP
	source_aarch64 = mollysocket-1.2.0::https://github.com/mollyim/mollysocket/releases/download/1.2.0/mollysocket-arm64-1.2.0
	sha256sums_aarch64 = SKIP
	source_armv7h = mollysocket-1.2.0::https://github.com/mollyim/mollysocket/releases/download/1.2.0/mollysocket-armv7-1.2.0
	sha256sums_armv7h = SKIP

pkgname = mollysocket-bin
